html,body{
    margin:0;
    padding:0;
}

html{
    font-size: 28px; 
    line-height: 1.2; 
    font-family: Philosopher, serif;
    background-attachment: fixed; 
    background-color: black; 
    background-image:
radial-gradient(white, rgba(255,255,255,.5) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.3) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

abbr {
    text-decoration: none;
}

h1, h2, h3{
     
font-family: 'Cinzel Decorative', cursive;
font-family: 'Cinzel', serif;
}

h1 {
    line-height: 
}

h2 {
    line-height: 1.25em; 
}

a:link{color: #0e1359}
a:hover,
a:focus{color: #540094}
a:active{color: black}

img {
    max-width: 100%;
    width: auto;
}

figcaption {
    font-size: 18px;
    line-height: 1;
}

#olayami-dabls{
    float: right;
    width: 48%;

}

header{
    /* background:black url('https://import.cdn.thinkific.com/203470%2Fcustom_site_themes%2Fid%2Fq4jDsBvTAuGEI8zP5mQf_slide-image_2048x2048.jpg');
    background-position: 50% 50%;  */
    color:white;
    padding: 60px 0; 
    margin: 0 60px; 
}  

nav {
     
    font: 16px 'Cinzel Decorative', cursive;
    margin: 0 60px;  
     
}

nav a:link {
    color: white;
    padding: 8px; 
    display: inline-block; 
    text-decoration: none; 
    background-color: #333; 

}

nav a:visited {
    color: white;
}

nav a:hover, 
nav a:focus {
    background-color: #444; 
}

.content {
    padding:30px; 
    max-width: 80%; 
    margin: 0 60px; 
    background-color: rgba(255,255,255,.5); 
}

ul{
    list-style-type: '☾';
}

li{
    padding-left: 10px; 
    margin-bottom: 30px;
}

footer {
    padding:30px; 
    max-width: 800px; 
    margin: 0 auto; 
    text-align: center; 
}
footer a {
    text-decoration:none; 
}
footer a:link,
footer a:visited{color: white;}
footer a:hover,
footer a:focus{color: #ccc}
footer a:active{color: #999}

/* img{
    float: right; 
} */

.union {
    background-image: url(photos/UCWVAsquarelogo.png);
    background-color: #222445;
    background-repeat:no-repeat;
    background-position: right 30px center;
    background-size: 300px; 
    padding:30px; 
    max-width: 80%; 
    margin: 0 60px; 
    color: white; 
}
.union p,
.union ul {
    margin-right: 50%;
}

.union a:link, .union a:visited {
    color: white 
}

.union a:hover {
    color: #FFB666; 
}